{%extends "_base.html" %} 

    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', path='css/view_image.css') }}">
    {% endblock %}

{%block content%}

<!-- TITLE -->
<div class="title">
    <div class="image-title">
        <box-icon class="title__icon" type='solid' name='magic-wand'></box-icon>
        <span class="title__text">Image Viewer</span>
    </div>

    <div class="image-actions">
        <i class='bx  bx-dots-vertical-rounded'></i> 
    </div>
    
</div>

<div class="no-images">
    <p class="no-images__text">No images to label</p>
    <div class="grid">
        <!-- EDIT PROMPT BUTTON -->
        <button class="form-container__button form-container__button--secondary" onclick="editPrompt()">
            <box-icon type='solid' name='edit'></box-icon>
            Upload Images
        </button>

        <!-- GENERATE IMAGE BUTTON -->
        <button class="form-container__button" onclick="generateImage()">
            <box-icon type='solid' name='magic-wand'></box-icon>
            Dashboard
        </button>

    </div>
</div>

<div class="form-and-image">

    <!-- IMAGE CONTAINER -->
    <section class="image-container" id="imageContainer">
        <!-- IMAGE RESULT -->
        <img class="image-container__image-result" id="imageResult" src="{{ url_for('data', path=image.image_name) }}" alt="Image to label">
    </section>

    <!-- FORM CONTAINER -->
    <section class="form-container">
        <div class="prompt-container">
            <!-- PROMPT INPUT -->
            <textarea class="form-container__prompt-input" id="prompt" rows="5"
                placeholder="Describe the face in the image..." readonly>{% if label %}{{label.prompt}}{% endif %}</textarea>

            <button class="prompt-btn" type="button">
                <i class="fa-solid fa-dice"></i>
            </button>
        </div>


        <div class="tags">
            <!-- <span class="tag">Bald</span> -->
             {% if label %} 
                {% for tag in label.tags %}
                    <span class="tag" id="{{tag.id}}">{{tag.name}}</span>
                {% endfor %}
             {% endif %}
            
        </div>

        <div class="form-container__dropdown-group">
            <!-- DROPDOWN STYLE -->
            <select class="form-container__dropdown" id="dropdownStyles">
                <option value="male" >Male</option>
                <option value="female">Female</option>
            </select>
            <!-- DROPDOWN RATIO -->
            <button class="add-tag btn" onclick="editPrompt()">
                <box-icon type='solid' name='edit'></box-icon>
                <i class='bx  bx-plus'></i> 
                Add Tag
            </button>

            <div class="add-tag-modal" id="addTag"> 
                <div class="add-tag-modal__content">
                    <div class="tag__header">
                        <span>Add Tag</span>
                        <button class="add-tag-modal__close" onclick="closeAddTagModal()">
                            <i class='bx  bx-x'></i> 
                        </button>
                    </div>
                    <input type="text" id="tagInput" placeholder="Enter a tag">
                    <div class="add-tag-actions">
                        <button class="add-tag-modal__button btn" onclick="addTag()">
                            <i class='bx  bx-plus'></i>
                            Add Tag
                        </button>
                        <button class="add-tag-modal__button btn" onclick="addTag()">
                            <i class='bx  bx-x'></i>
                            Cancel
                        </button>
                    </div>
                    
                </div>
            </div>

            <div class="edit-tag-modal" id="editTag">
                <div class="edit-tag-modal__content">
                    <div class="tag__header">
                        <span>Edit Tag</span>
                        <button class="edit-tag-modal__close" onclick="closeEditTagModal()">
                            <i class='bx  bx-x'></i> 
                        </button>
                    </div>
                    <input type="text" id="editTagInput" placeholder="Enter a tag">
                    <div class="edit-tag-actions">
                        <button class="edit-tag-modal__button btn" onclick="editTag()">
                            <i class='bx  bx-save'></i>
                            Save Changes
                        </button>
                        <button class="edit-tag-modal__button btn" onclick="editTag()">
                            <i class='bx  bx-x'></i>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>

<div class="form_actions grid">
    <!-- EDIT PROMPT BUTTON -->
    <button class="form-container__button form-container__button--secondary" onclick="editPrompt()">
        <box-icon type='solid' name='edit'></box-icon>
        <i class='bx  bx-image'></i> 
        Edit Image
    </button>

    <!-- GENERATE IMAGE BUTTON -->
    <button class="form-container__button" onclick="generateImage()">
        <box-icon type='solid' name='magic-wand'></box-icon>
        <i class='bx  bx-edit-alt'></i> 
        Edit Description
    </button>

    <!-- CLEAR IMAGE BUTTON -->
    <button class="form-container__button form-container__button--tertiary" onclick="clearImage()">
        <box-icon type='solid' name='trash'></box-icon>
        <i class='bx  bx-save'></i> 
        Save Changes
    </button>

</div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', path='js/view_image.js') }}"></script>
{% endblock %}