@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
/*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
/*Variables css*/
/*===== Colores =====*/
:root {
  --first-color: #12192C;
  --second-color: #F5A623;
  --white-color: #EDEDED;
  --primary-color: #2356FF;
  --secondary-color: #7657FF;
  --light-secondary-color: #8DA7FC;
  --gray-bg-color: #F9F9F9;
  --gray-border-color: #DDDDDD;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Quicksand', sans-serif;
  --small-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  :root {
    --small-font-size: 0.938rem;
  }
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 1rem 1rem 0 5rem;
  font-family: var(--body-font);
  background-color: var(--white-color);
  -webkit-transition: .5s;
  transition: .5s;
}

h1 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*=====  NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  height: 100vh;
  background-color: var(--first-color);
  padding: 1.25rem .5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 0 .5rem;
}

.nav__logo-icon {
  margin-right: 1.2rem;
}

.nav__logo-text {
  color: var(--white-color);
  font-weight: 700;
}

.nav__toggle {
  position: absolute;
  top: 1.10rem;
  right: -.6rem;
  width: 18px;
  height: 18px;
  background-color: var(--second-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--first-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: var(--white-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav__text {
  font-weight: 700;
}

/*Show menu*/
.show {
  width: 168px;
}

/*Rotate toggle*/
.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

/*Active links menu*/
.active {
  background-color: var(--second-color);
  color: var(--first-color);
}

/*Add padding body*/
.expander {
  padding: 1rem 0 0 12rem;
  -webkit-transition: .5s;
  transition: .5s;
}


main {
    /* border: solid red; */
    /* padding: 1rem; */
    height: calc(100vh - 1rem);
    display: flex;
    flex-direction: column;
}

header {
    /* border: solid green; */
    padding: 1rem;
    background: var(--gray-bg-color);
    border-radius: 10px;
}

.main{
    /* border: solid blue; */
    padding: 1rem 0 1rem 0;
    flex-grow: 1;
    display: flex;
    align-items: start;
    justify-content: center;
} 


.container {
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    /* max-width: 600px; */
    width: min(100%, 1000px);
    overflow: auto;
}

.no-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: solid 2px var(--gray-border-color);
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    color: rgb(160, 42, 42);
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    /* border: solid red; */
}

.btn{
    border: none;
    background: #1976d2;
    color: #fff;
    /* margin: 30px 0; */
    font-size: 16px;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

table{
    background: #f0f5fd;
    /* overflow-x: auto; */
    padding: 15px;
    width: 100%;
    border-radius: 14px;
    border-spacing: 0 8px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

table tbody tr{
    /* cursor: pointer; */
    transition: all 0.3s ease;
}

table tbody tr.selected,
.main table tbody tr:hover{
    border-radius: 14px;
    background: #e8eaf6;
}

table tbody tr td{
    padding: 16px;
}

table tbody tr td.icon i{
    font-size: 20px;
    background: #e6e4ec;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

table tbody tr td.actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

table tbody tr td.actions i{
    font-size: 16px;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

table tbody tr td.actions i.delete{
    color: #d25119;
    border-color: #d25119;
}

table tbody tr td.actions i.edit{
    color: #1d92f1;
    border-color: #1d92f1;
}

table tbody tr td.actions i.view{
    color: #1976d2;
    border-color: #1976d2;
}

 table tbody tr.selected td.icon i,
 table tbody tr:hover td.icon i{
    border-color: #999;
}

 table tbody tr td.name{
    font-weight: 500;
    font-size: 14px;
    color: #364670;
}

 table tbody tr td.extension,
 table tbody tr td.size,
 table tbody tr td.date,
 table tbody tr td.status{
    color: #999;
    font-size: 14px;
}

 table tbody tr td.status span{
    font-weight: 500;
    border: solid 1px #999;
    padding: 6px 8px;
    border-radius: 6px;
}

 table tbody tr td.status span.labelled{
    color: #55f11d;
    border-color: #55f11d;
}

 table tbody tr td.status span.unlabelled{
    color: #d2c019;
    border-color: #d2c019;
}

table tbody tr td.status span.skipped{
    color: #d25119;
    border-color: #d25119;
}

 table tbody tr td .more{
    text-align: right;
}

 table tbody tr td.more i{
    font-size: 20px;
}

 table tbody tr td:first-child{
    border-radius: 14px 0 0 14px;
    padding-left: 15px;
}

 table tbody tr td:last-child{
    border-radius: 0 14px 14px 0;
}
