@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
/*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
/*Variables css*/
/*===== Colores =====*/
:root {
  --first-color: #12192C;
  --second-color: #F5A623;
  --white-color: #EDEDED;
  --primary-color: #2356FF;
  --secondary-color: #7657FF;
  --light-secondary-color: #8DA7FC;
  --gray-bg-color: #F9F9F9;
  --gray-border-color: #DDDDDD;

  --color-primary: #5C56E1;
  --color-primary-dark: #5b21b6;
  --color-accent: #8B5CF6; 
  --color-card: #FFFFFF;
  --color-input: #F1F1FF;
  --color-text: #09090E;
  --color-placeholder: #5C5A87;
  --color-border: #D4D4ED;
  --color-gradient: linear-gradient(135deg, #5C56E1, #8B5CF6);
  
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Quicksand', sans-serif;
  --small-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  :root {
    --small-font-size: 0.938rem;
  }
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 1rem 1rem 0 5rem;
  font-family: var(--body-font);
  background-color: var(--white-color);
  -webkit-transition: .5s;
  transition: .5s;
}

h1 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=====  NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  height: 100vh;
  background-color: var(--first-color);
  padding: 1.25rem .5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 0 .5rem;
}

.nav__logo-icon {
  margin-right: 1.2rem;
}

.nav__logo-text {
  color: var(--white-color);
  font-weight: 700;
}

.nav__toggle {
  position: absolute;
  top: 1.10rem;
  right: -.6rem;
  width: 18px;
  height: 18px;
  background-color: var(--second-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--first-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: var(--white-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav__text {
  font-weight: 700;
}

/*Show menu*/
.show {
  width: 168px;
}

/*Rotate toggle*/
.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

/*Active links menu*/
.active {
  background-color: var(--second-color);
  color: var(--first-color);
}

/*Add padding body*/
.expander {
  padding: 1rem 0 0 12rem;
  -webkit-transition: .5s;
  transition: .5s;
}


main {
    /* border: solid red; */
    /* padding: 1rem; */
    height: calc(100vh - 1rem);
    display: flex;
    flex-direction: column;
}

header {
    /* border: solid green; */
    padding: 1rem;
    background: var(--gray-bg-color);
    border-radius: 10px;
}

.main{
    /* border: solid blue; */
    padding: 1rem 0 1rem 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* width: 90%;
    max-width: 600px; */
    width: min(100%, 1000px);
}

.grid{
  /* border: solid red; */
  /* width: 100%; */
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid red; */
}

.image-title{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.image-actions i{
  font-size: 1.5rem;
  cursor: pointer;
}

.title__icon{
    /* font-size: 3rem; */
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px; */
    fill: white;
    width: 45px;
    height: 45px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px var(--light-secondary-color);
}

.title__text{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.no-images{
  border: solid 1px var(--gray-border-color);
  padding: 1rem;
  display: none;
}

.no-images__text{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.form-and-image{
    display: flex;
    margin-top: 24px;
    gap: 32px;
    /* border: solid green; */
    width: 100%;
    /* display: none; */
}

.image-container{
    /* border: solid rgb(242, 255, 0); */
    aspect-ratio: 1 / 1;
    width: 85%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.image-container__image-result{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-container{
    /* border: solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.prompt-container{
  width: 100%;
  position: relative;
  flex-grow: 1;
}

.form-container__prompt-input{
    resize: none;
    background: var(--gray-bg-color);
    border: 1.5px solid var(--gray-border-color);
    border-radius: 8px;
    padding: 8px 10px;
    width: 100%;
    outline: solid 3px transparent;
    transition: 150ms ease-in;
    height: 100%;
    /* position: relative; */
}

.form-container__prompt-input:focus{
    outline: solid 3px var(--light-secondary-color);
}

.prompt-btn{
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 35px;
    width: 35px;
    background: var(--color-gradient);
    border: none;
    color: #FFFFFF;
    font-size: 0.75rem;
    border-radius: 50%;
    opacity: 0.8;
    transition: all 0.3s ease;
    cursor: pointer;
}

.tag{
    background: var(--gray-bg-color);
    border: 1.5px solid var(--gray-border-color);
    font-size: 0.6rem;
    border-radius: 6px;
    padding: 6px 8px;
    /* width: 100%; */
    outline: solid 3px transparent;
    transition: 150ms ease-in;
    /* flex-grow: 1; */
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;}

.tags{
    /* border: solid; */
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;}

.add-tag-modal, .edit-tag-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.add-tag-modal.show, .edit-tag-modal.show{
    display: flex;
}

.add-tag-modal__content, .edit-tag-modal__content{
  position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: min(400px, 90%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.add-tag-modal__close, .edit-tag-modal__close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.add-tag-modal__content input, .edit-tag-modal__content input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    border: solid 2px var(--gray-border-color);
}

.add-tag-actions, .edit-tag-actions{
    display: flex;
    gap: 12px;
}

.btn{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border: none;
    fill: white;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    /* width: 100%; */
    justify-content: center;
    padding: 12px 20px; 
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.form-container__dropdown-group{
    /* border: solid; */
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.form-container__dropdown{
    padding: 8px 10px;
    height: 100%;
    border-radius: 8px;
    background: var(--gray-bg-color);
    border: solid 2px var(--gray-border-color);
    /* max-width: 180px; */
}

.form-container__dropdown:hover{
    border: solid 2px var(--light-secondary-color);
}

.form-container__dropdown:focus{
    border: solid 2px var(--light-secondary-color);
    outline: none;
}

.form_actions{
    /* display: none; */
}

.form-container__button{
    margin-top: 8px;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border: none;
    fill: white;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    /* width: 100%; */
    justify-content: center;
    padding: 12px 20px; 
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    /* box-shadow: 0px 4px 15px rgba(35, 86, 255, 0.3); */
    outline: solid 3px transparent;
    transition: 200ms ease-in;
}

.form-container__button:focus {
    border: solid 2px var(--gray-border-color);
}

.form-container__button:hover {
    box-shadow: 0px 6px 20px rgba(35, 86, 255, 0.4);
}

@media screen and (max-width: 768px) {
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid green; */
  }
  .title__text{
    font-size: 1.2rem;
    /* border: solid red; */
  }

  .title__icon{
    width: 30px;
    height: 30px;
    padding: 6px;
    /* border: solid black; */
  }
    .container{
        overflow-y: scroll;
        /* max-height: 90%; */
    }

    .form-and-image{
        flex-direction: column;
    }

    .image-container{
        width: 100%;
    }

    .form-container__dropdown-group{
        grid-template-columns: repeat(1, 1fr);
    }
}
